@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --rounding-xs: 4px;
    --rounding-sm: 6px;
    --rounding-md: 8px;
    --rounding-lg: 12px;
    --rounding-xl: 16px;
    --rounding-xxl: 20px;
    --rounding-none: 0px;
    --rounding-full: 100%;

    --foreground: 240 10% 96%;
    --foreground-200: 202 7% 78%;
    --foreground-300: 240 2% 48%;
    --foreground-400: 203 4% 38%;

    --bg-100: 210 3% 29%;
    --bg-200: 240 2% 20%;
    --bg-300: 210 4% 10%;
    --bg-400: 0 0% 4%;
    --bg-400: 225 67% 1%;
    --background: 220 17.65% 3.33%;
    --reverse-background: 0 0% 100%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --border: 195 5% 15%;
    --input: 240 3.7% 15.9%;

    --primary: 0 0% 100%;
    --primary-foreground: 210 4% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground-200 font-sans font-medium text-caption-2;
  }
}

body {
  font-style: normal;
  font-optical-sizing: auto;
}
